RewriteEngine On

# Celui-ci débute par la ligne « RewriteEngine on » pour spécifier que nous souhaitons utiliser la réécriture d'URL.

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?page=$1

# on passera donc de 
# http://www.mon-site.com/index.php?page=home à
# http://www.mon-site.com/home