* {
	box-sizing: border-box;
	padding: 0;
	margin: 0px;
	list-style: none
}

*,
body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}

.container-fluid {
	border: none !important;
}

.nav-item a:hover,
footer a:hover {
	color: #FBC638 !important;
}

.violet-bg {
	background-color: #6225E6;
}

h2,
h3,
h4,
h5,
.display-4 {
	font-weight: bolder;
	font-family: 'Poppins', sans-serif;
	font-style: italic;
}


.parallax {
	/* The image used */
	background-image: url("../Assets/images/image_header.jpg");
	/* Set a specific height */
	min-height: 70vh;
	width: 100%;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hotel-bg {
	/* The image used */
	background-image: url("../Assets/images/hotel-background.png");
	width: 100%;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}

.parallax h1 {
	font-weight: bolder;
	font-size: 50px;
	font-family: 'Poppins', sans-serif;
	font-style: italic;
	text-shadow: 0px 0px 10px black;
}

.parallax a {
	font-size: 35px;
	box-shadow: 5px 5px 5px #212529;
}

/*----SVG-------*/

svg {
	vertical-align: baseline !important;
}

.cta {
	display: flex;
	padding: 10px 45px;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	color: white;
	background: #6225E6;
	transition: 1s;
	box-shadow: 6px 6px 0 black;
	transform: skewX(-15deg);
}

.cta:focus {
	outline: none;
}

.cta:hover {
	transition: 0.5s;
	color: #fff;
	box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
	transition: 0.5s;
	margin-right: 0px;
}

.cta:hover span:nth-child(2) {
	transition: 0.5s;
	margin-right: 45px;
}

span {
	transform: skewX(15deg);
	font-weight: 900;
	font-style: italic;
}

span:nth-child(2) {
	width: 20px;
	margin-left: 30px;
	position: relative;
	top: 12%;
}

/**************SVG****************/

path.one {
	transition: 0.4s;
	transform: translateX(-60%);
}

path.two {
	transition: 0.5s;
	transform: translateX(-30%);
}

.cta:hover path.three {
	animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
	transform: translateX(0%);
	animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
	transform: translateX(0%);
	animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
	0% {
		fill: white;
	}

	50% {
		fill: #FBC638;
	}

	100% {
		fill: white;
	}
}

/*---------------------------------*/

.container-fluid {
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
}

section:not(.hotel) {
	max-width: 90%;
}

.form-control:focus {
	border: 5px solid #FBC638 !important;
	box-shadow: none !important;
}

.card-body a {
	text-align:center!important;
}

.btn {
	color: white;
	outline: none;
	border: 0px;
	box-shadow: none;
}

.btn-dark,
.btn-secondary {
	outline: none;
	border: 0px;
	box-shadow: none;
}

.btn:hover,
button:hover,
.btn:focus,
.btn:active {
	background-color: #FBC638 !important;
	outline: none !important;
}


@media only screen and (max-width: 1200px) {

	.parallax {
		min-height: 50vh;
		background-position: top;
	}

	.booking {
		text-align: center;
	}

	section:not(.hotel)  {
		max-width: 90%;
	}

}

@media only screen and (max-width: 900px) {

	.parallax {
		min-height: 50vh;
		background-position: top;
		background-size: cover;
	}

	.parallax h1 {
		font-size: 35px;
	}

	section:not(.hotel)  {
		max-width: 90%;
	}

}

@media only screen and (max-width: 400px) {
	
	section:nth-of-type(2n) article {
		padding:0px;
	}
}